{% extends "base.html" %}
{% load static %}

{% block additional_page_stylesheets %}
    <link rel="stylesheet" href='{% static "css/posts_list.css" %}' type="text/css">
{% endblock %}

{% block page_content %}
    <ul class="list-unstyled ml-3">
        {% for post in posts %}
            <h4>
                <span class="meta">{{ post.creation_date }}&ensp;<div data-url="{% url 'posts_list' %}" id="topics"></div>>&ensp;>></span>
                &emsp;<a class="link" href="{% url 'posts_details' post.pk %}">{{ post.title }}</a> </h4>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block additional_page_scripts %}
    <script src="{% static 'js/topics.js' %}"></script>
{% endblock %}
