{% extends "base.html" %}
{% load static %}

{% block additional_page_stylesheets %}
    <link rel="stylesheet" href='{% static "css/posts_list.css" %}' type="text/css">
{% endblock %}

{% block page_content %}
    <ul class="list-unstyled ml-3">
        {% for post in posts %}
            <h4>
                    <span class="meta">{{ post.creation_date }}&ensp;{% for topics in post.topics.all %}
                        <a class="link" href="{% url 'filtered_posts_list' topics.name %}">#{{ topics.name }}</a>
                        &ensp;{% endfor %}&ensp;>></span>
                &emsp;<a class="link" href="{% url 'posts_details' post.pk %}">{{ post.title }}</a>
            </h4>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
