{% extends "base.html" %}
{% load static %}

{% block additional_page_stylesheets %}
    <link rel="stylesheet" href='{% static "css/home.css" %}' type="text/css">
{% endblock %}

{% block page_title %}
    Home
{% endblock %}

{% block page_content %}
    <div id="homeContent" class="container-fluid">
        <h1 class="display-1 font-weight-bold text-left">Hello, my name is<br><span style="color:red">Ojas Anand</span></h1>
        <h1 class="display-4 text-monospace text-center">Software Developer and Tinkerer of Electronics</h1>
        <br>
        <div id="socialButtons" class="container">
            <button type="button" class="btn btn-lg far fa-envelope" onclick="window.open( 'mailto:oanand@fastmail.com', '_blank' )"> Email</button>
            <button type="button" class="btn btn-lg fab fa-linkedin-in" onclick="window.open( 'https://www.linkedin.com/in/ojas-a-99187910b/', '_blank')"> LinkedIn</button>
            <button type="button" class="btn btn-lg fab fa-github" onclick="window.open( 'https://github.com/sigmaupsilon', '_blank')"> GitHub</button>
        </div>
    </div>
{% endblock %}

{% block additional_page_scripts %}
    <script src="https://kit.fontawesome.com/558e768b89.js" crossorigin="anonymous"></script>
{% endblock %}