{% extends "base.html" %}
{% load static %}

{% block additional_page_stylesheets %}
    <link rel="stylesheet" href='{% static "css/home.css" %}' type="text/css">
{% endblock %}

{% block page_title %}
    Home
{% endblock %}

{% block page_content %}
    <div id="homeContent" class="container-fluid">
        <div class="d-flex flex-row">
            <h1 id="nameIntro" class="display-1 font-weight-bold text-left">Ojas Anand</h1>
            <div id="cursor"></div>
        </div>
        <h1 class="display-4 text-monospace text-center">Software Developer and Tinkerer of Electronics</h1>
        <br>
        <div class="container d-flex flex-row justify-content-center social-buttons">
            <button type="button" class="btn btn-lg far fa-envelope"
                    onclick="window.open( 'mailto:oanand@fastmail.com', '_blank' )"> Email
            </button>
            <button type="button" class="btn btn-lg fab fa-linkedin-in"
                    onclick="window.open( 'https://www.linkedin.com/in/ojas-a-99187910b/', '_blank')"> LinkedIn
            </button>
            <button type="button" class="btn btn-lg fab fa-github"
                    onclick="window.open( 'https://github.com/sigmaupsilon', '_blank')"> GitHub
            </button>
        </div>
    </div>
{% endblock %}