body {
    background-color: beige;
}

.navbar {
    background-color: lightgreen !important;
}

.img-thumbnail {
    max-height: 24vh;
}

.card-img-top {
    height: 20vw;
    object-fit: contain;
}

.circle {
    height: 1em;
    width: 1em;
    border: 1px solid black;
    border-radius: 50%;
}

.completed {
    background-color: blue;
}

#about-content {
    background-color: beige;
}

#banner {
    background-color: lightgreen;
}