body {
    background-color: black;
    color: lime;
}

.nav {
    height: 5%;
}

.fa-bars {
    color: lime !important;
}

.nav-link {
    color: lime;
}

.nav-link:hover {
    color: black;
    transition: color 0.5s;
}

.nav-item:hover {
    background-color: lime;
    transition: background-color 0.5s;
}

.current-item {
    background-color: lime;
}

.current-item .nav-link {
    color: black;
}

.menu-overlay {
    display: none;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* IE7 & 8 */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 49;
}

#navbarSupportedContent {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    width: 20rem;
    height: 100vh;
    background-color: black;
    overflow: auto;
    border-left: 1px solid lime;
}

#navbarSupportedContent .d-flex {
    font-size: 10px;
    color: lime;
    bottom: 0;
}

#mainContent {
    height: 95%
}