{% extends "base.html" %}
{% load static %}

{% block additional_page_stylesheets %}
    <link rel="stylesheet" href='{% static "css/about.css" %}' type="text/css">
{% endblock %}

{% block page_title %}
    About
{% endblock %}

{% block page_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img src="{% static "img/headshot.jpg" %}" class="img-thumbnail rounded-circle mx-auto d-block"
                     alt="Headshot" data-holder-rendered="true">
            </div>
            <div class="col align-self-center">
                <p class="text-justify">Hi, I'm Ojas. I am fourth-year Computer Engineering student and have had a
                    passion technology since I wrote my first program in Java when I was twelve years old. I ...</p>
                <a href="#">Résumé</a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h1 class="font-weight-bold">Relevant Technical Skills</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <h5 class="card-header card-title">C/C++</h5>
                    <img class="card-img-top" src="{% static 'img/c_cpp.jpg' %}" alt="C/C++">
                    <div class="card-body">
                        <ul class="card-text">
                            <li>Point 1</li>
                            <li>Point 2</li>
                        </ul>
                    </div>
                    <div class="container card-footer">
                        <div class="row">
                            <div class="col">
                                <p class="font-weight-bold">Skill Level</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-header card-title">Python</h5>
                    <img class="card-img-top" src="{% static 'img/python.jpg' %}" alt="Python">
                    <div class="card-body">
                        <ul class="card-text">
                            <li>Point 1</li>
                            <li>Point 2</li>
                        </ul>
                    </div>
                    <div class="container card-footer">
                        <div class="row">
                            <div class="col">
                                <p class="font-weight-bold">Skill Level</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-header card-title">Java</h5>
                    <img class="card-img-top" src="{% static 'img/java.jpg' %}" alt="Java">
                    <div class="card-body">
                        <ul class="card-text">
                            <li>Point 1</li>
                            <li>Point 2</li>
                        </ul>
                    </div>
                    <div class="container card-footer">
                        <div class="row">
                            <div class="col">
                                <p class="font-weight-bold">Skill Level</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle"></div>
                            </div>
                            <div class="col">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4">
                <div class="card">
                    <h5 class="card-header card-title">Computer Architecture and Digital Design</h5>
                    <div class="card-body">
                        <ul class="card-text">
                            <li>Point 1</li>
                            <li>Point 2</li>
                        </ul>
                    </div>
                    <div class="container card-footer">
                        <div class="row">
                            <div class="col">
                                <p class="font-weight-bold">Skill Level</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle"></div>
                            </div>
                            <div class="col">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}