{% extends "base.html" %}

{% load static %}

{% block additional_page_stylesheets %}
    <link rel="stylesheet" href='{% static "css/projects.css" %}' type="text/css">
{% endblock %}

{% block page_content %}
    <div class="container-fluid h-100">
        {% for p in pl %}
            {% if forloop.counter0|divisibleby:3 %}
                <div class="row h-25">{% endif %}
        <div class="col-sm-4 border h-100 d-flex flex-column justify-content-center align-items-center">
            <h1 id={{ p.id }} class="font-weight-bold">{{ p.name }}</h1>
        </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}</div>{% endif %}
        {% endfor %}
    </div>
{% endblock %}