{%  extends "base.html" %}

{% block page_title %}
    Projects
{% endblock %}

{% block page_content %}
    <h1>Placeholder Projects</h1>
{% endblock %}

        {%  comment %}
        <div class="row mb-4">
            <div class="col-sm">
                <div class="card">
                    <h5 class="card-header card-title">C/C++</h5>
                    <img class="card-img-top" src="{% static 'img/c_cpp.jpg' %}" alt="C/C++">
                    <div class="container card-footer">
                        <div class="row">
                            <div class="col">
                                <p class="font-weight-bold">Skill Level</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <h5 class="card-header card-title">Python</h5>
                    <img class="card-img-top" src="{% static 'img/python.jpg' %}" alt="Python">
                    <div class="container card-footer">
                        <div class="row">
                            <div class="col">
                                <p class="font-weight-bold">Skill Level</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <h5 class="card-header card-title">Java</h5>
                    <img class="card-img-top" src="{% static 'img/java.jpg' %}" alt="Java">
                    <div class="container card-footer">
                        <div class="row">
                            <div class="col">
                                <p class="font-weight-bold">Skill Level</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle"></div>
                            </div>
                            <div class="col">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h5 class="card-header card-title">Computer Architecture and Digital Design</h5>
                    <div class="container card-footer">
                        <div class="row">
                            <div class="col">
                                <p class="font-weight-bold">Skill Level</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle"></div>
                            </div>
                            <div class="col">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h5 class="card-header card-title">Computer Architecture and Digital Design</h5>
                    <div class="container card-footer">
                        <div class="row">
                            <div class="col">
                                <p class="font-weight-bold">Skill Level</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle"></div>
                            </div>
                            <div class="col">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h5 class="card-header card-title">Computer Architecture and Digital Design</h5>
                    <div class="container card-footer">
                        <div class="row">
                            <div class="col">
                                <p class="font-weight-bold">Skill Level</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle completed"></div>
                            </div>
                            <div class="col">
                                <div class="circle"></div>
                            </div>
                            <div class="col">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endcomment %}
