#homeContent {
  height: 90vh;
}

.social-buttons .btn {
  border: 1px solid lime;
  text-shadow: -1px -1px 0 lime, 1px -1px 0 lime, -1px 1px 0 lime, 1px 1px 0 lime;
  margin-right: 2em
}

.social-buttons .btn:hover {
  border: 1px solid limegreen;
  text-shadow: -1px -1px 0 limegreen, 1px -1px 0 limegreen, -1px 1px 0 limegreen, 1px 1px 0 limegreen;
}

.cursor {
  color: transparent;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {background: black}
  50% {background: lime}
  100% {background: black}
}

#homeContent .display-1 {
  font-family: "Lucida Console", Consolas, "Courier New", Courier, monospace;
}
